XML_MIGRATION_XML_SOURCE_FOLDER=/tmp/bases/xml
XML_MIGRATION_IMG_SOURCE_FOLDER=/tmp/htdocs/img/revistas
XML_MIGRATION_PDF_SOURCE_FOLDER=/tmp/bases/pdf
XML_MIGRATION_ISSN_JOURNALS_FILE=/tmp/issn.json

XML_IMPORTING_MONGODB_URI=mongodb://localhost:27017
XML_IMPORTING_PID_DATABASE_DSN="postgresql+psycopg2://user:pw@host:5432/db"
XML_IMPORTING_KERNEL_DABATASE="kernel"
XML_IMPORTING_MINIO_HOST="localhost:9000"
XML_IMPORTING_MINIO_ACCESS_KEY="minio"
XML_IMPORTING_MINIO_SECRET_KEY="key"
XML_IMPORTING_MINIO_IS_SECURE=

XML_LINKING_TITLE_JSON_FILE=
